.space {
  flex: 1 1 auto
}

.small-part {
  flex: 1
}
.large-part {
  flex: 2
}

.login {
  margin-right: 45px;
}

.logo {
  height: 50px;
  margin-right: 20px;
  margin-left: 45px;
}

.header-button {
  margin-right: 20px;
}
